body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Playfair Display', serif;
  background-color: #000;
  color: #fff;
  background-image: url('imagenes/posible\ tigre.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  box-sizing: border-box;
  z-index: 10;
}

.navbar .container-fluid {
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 100%;
}

.navbar .brand {
  font-size: 24px;
  color: #fff;
}

.navbar .nav-links {
  list-style: none;
  display: flex;
  margin: 0;
}

.navbar .nav-links li {
  margin: 0 15px;
}

.navbar .nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.section.about-section {
  padding: 100px 0;
  color: #fff;
}

.about-section h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.about-section p {
  font-size: 20px;
  line-height: 1.6;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}
